.header {
  text-align: center;
  margin-bottom: 50px;
  border: 2px solid;
  background-color: var(--light-color);
}
.headline {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 4px;
}
