.answer-container {
  font-weight: bold;
  background-color: #a1cccb;
  color: var(--light-color);
  margin-top: 20px;
  padding: 10px;
  display: flex;
  gap: 10px;
  border: 2px solid var(--accent-color);
  border-radius: var(--border-rounded);
}

.answer-container--hidden {
  display: none;
}
.answer__icon {
  align-self: flex-start;
}

.answer-text {
  margin: 0;
  font-size: 1.2rem;
}
