.btn, .submit-btn {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: lightsalmon;
  border: none;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: salmon;
  border: 1px solid black;
}

.submit-btn {
  margin-top: 30px;
  
}

.btn-container {
  display: flex;
  justify-content: center;
}