.btn {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: lightsalmon;
  border: none;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: salmon;
  border: 2px solid black;
}
