@import "/components/header.css";
@import "/components/navbar.css";
@import "/components/question-container.css";
@import "/base.css";
@import "/components/utility.css";

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: 100vh;
}
.profile {
}

