@import "/components/nav-icons.css";
@import "/base.css";
@import "/components/utility.css";

nav {
  border: 2px solid;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
}
.nav__icons {
  list-style: none;
}
