@import "/components/bookmark-icon.css";
@import "/components/buttons.css";
@import "/components/questions.css";

.card {
  border: 2px solid;
  padding: 15px;
  border-radius: var(--border-rounded);
  position: relative;
  box-shadow: var(--box-shadow);
  margin-bottom: 50px;
  width: 100%;
  max-width: 500px;
}

.card__text {
  max-width: 250px;
}
.card__btn__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-text {
  color: red;
  font-size: 1.8rem;
  font-weight: bold;
}

.answer-text--hidden {
  display: none;
}