@import "/components/bookmark-icon.css";
@import "/components/buttons.css";
@import "/components/questions.css";

.card {
  border: 2px solid;
  padding: 15px;
  border-radius: var(--border-rounded);
  position: relative;
}

.card__text {
  max-width: 250px;
}
.card__btn__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}