.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 40px 0 0 0;
}
.tag {
  list-style: none;
  border: 2px solid;
  border-radius: var(--border-rounded);
  padding: 5px;
  background-color: white;
}

.tag:hover {
  box-shadow: 2px 2px 0 0 salmon;
  transition: 0.1s;
  border: 2px solid lightsalmon;
}
